/* css/style.css */
*{
    font-family: 'Poppins', sans-serif;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

.container {
    background-color: #fff;
    width: 500px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    margin-bottom: 20px;

}

h1 {
    margin-top: 0;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Button styles */
input[type="submit"],
input[type="reset"],
button {
    width: 85px;
    height: 37px;
    padding: 0 auto;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); 
    transition: background-color 0.3s, transform 0.2s;
    margin-left: 3px;
}

/* Submit button styles */
input[type="submit"] {
    background-color: #007bff; 
    color: #fff;
}

/* Reset button styles */
input[type="reset"] {
    background-color: #db1212; 
    color: #fff;
}

/* Switch button styles */
button {
    background-color: #28a745; 
    color: #fff;
}

/* Hover styles for Submit button */
input[type="submit"]:hover {
    background-color: #0056b3; 
    transform: translateY(-2px); 
}

/* Hover styles for Reset button */
input[type="reset"]:hover {
    background-color: #a60000; 
    transform: translateY(-2px);
}

/* Hover styles for Switch button */
button:hover {
    background-color: #1e7e34; 
    transform: translateY(-2px); 
}


#result {
    margin-top: 10px;
    display: none;
    
}


#conversion-result {
    font-weight: bold;
    color: #007bff;
    font-size: x-large;
}



#explanation {
    text-align: justify; 
    color: #535353;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 9px;
    background-color: #f9f9f9;
    white-space: pre-line;
}

